@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --red: #02173b;
  --text: #ffffff;
  --white-color: #ffffff;
  --black-bg: #02173b;
  --sub-menu-color: #cdfe6e;
  --text-mute: #777;
}
li,
a {
  text-decoration: none !important;
  list-style: none !important;
}

/* @media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1200px !important;
  }
} */
.header {
  background: #02173b;
  border-top: 1px solid #a09c9ccc;
  padding: 10px 0;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #02173b;
  padding: 13px 0 !important;

}

@keyframes mymove {
  from {
    /* transform: rotateX(90deg); */
    opacity: 1;
  }
  to {
    opacity: 1;
    /* transform: rotateX(0deg); */
  }
}
.for_pc_none {
  display: none;
}
.for_pc_none .logo {
  width: 160px;
  height: 52px;
}
.ham {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  top: 0px;
}
.ham span {
  position: absolute;
  top: 18px;
  left: 5px;
  background: #ffffff;
  height: 3px;
  width: 28px;
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
}
.ham span:nth-child(1) {
  transform: translateY(8px);
  width: 21px;
}
.ham span:nth-child(3) {
  transform: translateY(-8px);
  width: 21px;
}
.transform span:nth-child(1) {
  transform: rotate(45deg);
}
.transform span:nth-child(2) {
  transform: translateX(40px);
}
.transform span:nth-child(3) {
  transform: rotate(315deg);
}

.logo {
  height: 50px;
  width: 160px;
}
.logo img {
  height: 100%;
  width: 100%;
}
.footer_logo {
  height: 120px;
  width: 310px;
}
.Phone_style {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}
.login_wrapper ul {
  padding: 0;
  margin: 0;
  gap: 25px;
}
.login_wrapper ul li a {
  color: var(--white-color);
  font-weight: 500;
}

nav {
  position: relative;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

nav ul li a.active,
nav ul li a:hover {
  color: #fa4032;
}

.for_padding {
  padding: 30px 0;
}
.submenu_wrapper {
  position: absolute;
  left: 80px;
  width: 91%;
  z-index: 999;
  top: 86px;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  padding: 20px;
  
}
.Shoe h6{
  font-weight: 600;
  color: #20182f;
  font-size: 18px;
}
.submenu_wrapper .Shoe ul{
  padding: 0;left: 0;
}
.submenu_wrapper .Shoe ul li{
}
.submenu_wrapper .Shoe ul li a{
  text-transform: capitalize;
  font-weight: 400;
  padding: 0px;
  color: #555;
  padding: 2px;
  display: block;
}
.submenu_wrapper .Shoe ul li a:hover{
  color: #1271ff;
}
.mega_text_card{
  width: 100%;
  border-radius:10px;
  background-image: linear-gradient(-45deg, #1271ff88, #fc524c91, #c9f3ff);
}
.menu_wrapper .fa-angle-down {
  transition: 0.3s ease-in-out;
  font-size: 15px;
}
.menu_wrapper:hover .fa-angle-down {
  transform: rotateX(180deg);
  transition: 0.3s ease-in-out;
  color: #fa4032;
}
.menu_wrapper:hover .submenu_wrapper{
  opacity: 1;
  visibility: visible;
}

.scroll_text h2 {
  font-size: 45px;
  white-space: nowrap;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrappe1,
.fix_height,
.detail_slider1 {
  max-width: 700px !important;
  width: 100%;
  height: 320px !important;
  padding: 0 !important;
  width: 100% !important;
  padding: 0px !important;
}
.fix_height img {
  width: 100% !important;
}
.detail_slider1 .swiper-slide img .detail_slider2 {
  height: 10vh !important;
}
.swiper_wrapper {
  position: relative;
}
.swiper-pagination-bullet-active {
  background: var(--red) !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide a {
  color: var(--text);
}
.swiper-pagination1 {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.card_slider_2,
.card_slider_1 {
  padding: 50px 15px 40px 15px !important;
}
.detail_slider2 .swiper-slide {
  border: 1px solid rgba(128, 128, 128, 0.409);
}
.detail_slider2 .swiper-slide img,
.detail_slider1 .swiper-slide img {
  object-fit: cover !important;
}
.small_slide {
  height: 100px !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_btn {
  position: absolute;
  top: -5px;
  right: 14px;
  width: 100px;
  z-index: 99;
  line-height: 50px;
  height: 50px;
}

.heading {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: var(--red);
}
.heading::after {
  position: absolute;
  content: "";
  top: 12px;
  right: -40px;
  height: 15px;
  width: 15px;
  border-radius: 30px 30px 0px 30px;
  border: 2px solid var(--red);
  transform: rotateZ(313deg);
}
.heading::before {
  position: absolute;
  content: "";
  top: 12px;
  right: -60px;
  height: 15px;
  width: 15px;
  border-radius: 30px 30px 0px 30px;
  border: 2px solid var(--red);
  transform: rotateZ(131deg);
}

.line {
  position: absolute;
  top: 18.95px;
  right: -72px;
  display: inline-block;
  width: 60px;
  border: 1px solid var(--red);
  z-index: 9;
}
.icon_img {
  height: 100px;
  width: 100px;
  border: 1px solid #b7b2b336;
  border-radius: 50%;
  padding: 12px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.525);
  overflow: hidden;
  margin-bottom: 5px;
}
.icon_img img {
  height: 100%;
  width: 100%;
}
.text-mute {
  color: var(--text-mute);
}
.slider_card_wrapper {
  border: 1px solid rgba(44, 38, 38, 0.269);
  position: relative;
  border-radius: 0.35rem;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  padding: 10px;
}

.badg {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader_wrapper {
  background: #fc524c;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  position: relative;
  overflow: hidden;
}
.loader_wrapper span {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.loader_wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    100deg,
    transparent 25%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 75%
  );
  animation: loading 1.5s ease infinite;
}
@keyframes loading {
  0% {
    transform: translateX(-101%);
  }
  80% {
    transform: translateX(101%);
  }
  to {
    transform: translateX(101%);
  }
}
.card_image_wrapper {
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 3px;
}

.card_image_wrapper img {
  width: 100%;
  height: 100%;
  transition: 1.01s ease-in-out;
}
.slider_card_wrapper:hover .card_image_wrapper img {
  transform: scale(1.1);
}
.slider_card_wrapper:hover .card_text > p {
  color: var(--red);
}

.card_text > p {
  font-size: 17px;
  font-weight: 600;
}

.Star .fa-solid {
  font-size: 13px;
  color: #ffcc14;
}
.Star_wrap h5 {
  font-weight: 600;
}
.prise p {
  font-size: 16px;
  font-weight: 600;
}

.btn_style {
  position: relative;
  z-index: 1;
  padding: 10px 19px;
  max-width: 200px;
  width: 100%;
  background: #1271ff;
  border: none;
  color: #fff;
  transition: 0.4s ease-in-out;
  border-radius: 0.23rem;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 10px;
}

.btn_style:hover {
  background: #f2f7fa;
  color: #fc524c;
  border: 1px solid gray;
}

/* Animated Icon */
.btn_style .fa-phone-alt,
.btn_style .fa-question-circle {
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
  30% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  50% { transform: rotate(5deg); }
  60% { transform: rotate(-5deg); }
  70% { transform: rotate(0deg); }
}
.card_btn {
  width: 100%;
  padding: 5px 10px;
  font-size: 13px;
}
.card_btn:focus .fa-question-circle,
.card_btn:hover .fa-question-circle {
  transform: translateX(20px);
  animation: myAnimation 1.2s infinite;
}
@keyframes myAnimation {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(12px);
    opacity: 0;
  }
}
/* .btn_style::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 0%;
  background: var(--red);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
} */
/* .btn_style::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 0%;
  background: var(--red);
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
} */
.btn_style:hover::after,
.btn_style:hover::before {
  width: 100%;
}
.cursor {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #0b0448b0;
  z-index: 9999;
  pointer-events: none;
  transition: 0.2s ease;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: difference; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px !important;
  color: #b5b2b2;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  height: 40px;
  min-width: 40px;
  border: 1px solid #b5b2b2;
  line-height: 40px !important;
  text-align: center !important;
  border-radius: 50%;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  border: 1px solid var(--red) !important;
  color: var(--red);
}
.about_bg_color {
  background: #02173b;
  position: relative;
}
.footer_overlay {
  background-image: url(../images/footer_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.09;
  transition-behavior: normal, normal, normal;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.blog_text p:nth-child(1) {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}
.blog_text h4 {
  font-size: 3.4rem;
}
.bg-color {
  background: #472a00;
}
.Recommendations_twxt h6 {
  font-size: 25px;
  color: var(--white-color);
}
.Recommendations_twxt p {
  color: var(--white-color);
  font-size: 13px;
}
.Recommendations_btn {
  background: var(--white-color);
  color: var(--text);
}
.Recommendations_btn:hover {
  color: var(--white-color);
}
.social_icon .fa-brands {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 43px;
  color: var(--white-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 18px;
}
.social_icon .fa-brands::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: var(--white-color);
  transition: 0.4s ease-in-out;
}
.social_icon .fa-brands:hover::before {
  height: 100%;
  border-radius: 50%;
}
.social_icon .fa-brands:hover {
  color: var(--red);
}
.footer_h {
  font-size: 22px;
  font-weight: 600;
  color: var(--white-color);
}
.footer_list {
  padding: 0;
}
.footer_list li a {
  color: var(--text);
  padding: 6px !important;
  display: block;
}
.Copyright {
  border-top: 1px solid rgb(215, 213, 213);
}
.payment {
  height: 25px;
}
.locatoin a {
  color: var(--text);
}
.about_bg,
.pagination {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/feba2.jpg);
  padding: 8rem 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.about_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/about_bg.jpg);
}
.blog_text sub {
  font-weight: 700;
  font-size: 25px;
  color: var(--white-color) !important;
  position: relative;
}

.blog_text h5 {
  font-size: 3rem;
  color: var(--white-color) !important;
  font-weight: 600;
}
.blog_text h5 span {
  font-size: 12px;
  display: inline-block;
  transform: translateY(-17px);
  font-weight: 400;
}
.home_menu a:nth-child(1) {
  color: var(--white-color);
}
.home_menu a:nth-child(1):hover {
  color: var(--sub-menu-color);
}
.home_menu a:nth-child(3) {
  color: var(--sub-menu-color);
}

.crass {
  height: 2px;
  min-width: 16px;
  background: var(--sub-menu-color);
  transform: rotateZ(295deg);
}
.shadows {
  -webkit-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.24);
  box-shadow: 0 1px 5px rgba(56, 65, 74, 0.24);
}
.details_wrapper {
  position: relative;
}
.detail_badg {
  position: absolute;
  top: -10px;
  right: 20px;
}
.share_icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.58);
  border-radius: 50%;
  cursor: pointer;
}
.share_icon:hover {
  background-color: rgba(245, 243, 243, 0.68);
  color: red;
}
.card_inner {
  position: relative;
  word-wrap: break-word;
  background-color: var(--white-color);
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.title_heading {
  font-size: 22px;
  font-weight: 600;
}
.prise_detail {
  font-size: 20px;
  font-weight: 700;
}
.prise_detail span {
  font-size: 15px;
}
.Meters {
  font-size: 14px;
  font-weight: 700;
}
.text-muted {
  opacity: 0.7;
  font-weight: 500;
  color: #878a99 !important;
}
.Business_left {
  width: 30%;
}
.Business_rite {
  width: 70%;
}
.Business_rite p{
  font-size: 16px;
  color: #01003d;
}
.mega_text_card h6{
  font-size: 17px;
  color: #3b3636;
  line-height: 27px;
  letter-spacing: 0.3px;
}
.size {
  height: 35px;
  width: 35px;
  border: 1px solid var(--red);
  text-align: center;
  line-height: 25px;
  padding: 5px;
  font-size: 12px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.size:focus,
.size.active,
.size:hover {
  background: var(--red);
  color: var(--white-color);
}

.color_option {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgba(102, 51, 153, 0);
  transition: 0.4s ease-in-out;
}
.color_option:hover,
.color_option.active {
  border: 1px solid var(--red);
}

.color_option .green,
.color_option .blue,
.color_option .pink,
.color_option .red {
  background: red;
  height: 17px;
  min-width: 17px;
  border-radius: 50%;
}
.color_option .green {
  background: green;
}
.color_option .blue {
  background: blue;
}
.color_option .pink {
  background: pink;
}
.badge_ {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background: var(--red);
}
.badge-soft-primary {
  color: #405189;
  background-color: rgba(64, 81, 137, 0.1);
}
.dis_text {
  font-weight: 600;
  font-size: 15px;
}
.Rating {
  font-size: 13px;
}
.quality_input {
  height: 40px !important;
  width: 100px !important;
}
.form-control:focus {
  color: var(--text);
  background-color: var(--white-color) !important;
  border-color: var(--red) !important;
  outline: 0;
  box-shadow: initial !important;
}
/* styles.css */
.img-magnifier-container {
  position: relative;
}

#myimage {
  width: 100%;
  height: auto;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #00000028;
  cursor: none;
  width: 300px;
  height: 200px;
  display: none;
  pointer-events: none; /* Ensure pointer events pass through */
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  row-gap: 20px;
  column-gap: 14px;
  justify-content: space-between;
}

.text_wrapper {
  display: flex;
  justify-content: space-between;
}

.Trusted_bg {
  background-image: linear-gradient(
      rgba(241, 234, 234, 0.877),
      rgba(243, 243, 243, 0.909)
    ),
    url(../images/prise.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
  padding: 5rem 0;
}
.Trusted_bg_fix{
  background-image: linear-gradient(
    rgba(241, 234, 234, 0.941),
    rgba(243, 243, 243, 0.95)
  ),
  url(../images/febric-bg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
/* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
padding: 5rem 0;
}
.Categories_bg {
  background-color: #f5f7f8;
}
.Trusted_wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Automatically wraps with min 150px and max 1fr */

  gap: 20px; /* space between the grid items */
}
.Trusted_card {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  min-height: 280px;
}

.Trusted_img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}
.Trusted_img img {
  width: 100%;
  height: 100%;
}
.Trusted_text h6 {
  margin-top: 0;
  font-size: 17px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
.Trusted_text p {
  font-size: 13px;
}




.image_wrapper {
  height: 200px;
  width: 200px;
  line-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(171, 169, 169);
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}
/* .image_wrapper:hover {
  height: 225px;
  width: 225px;
} */
.image_wrapper:hover .slide_card_image {
  height: 210px;
  width: 210px;
}
.slide_card_image {
  height: 186px;
  width: 186px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}
.slide_card_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide_btn {
  padding: 4px 5px;
  width: 150px;
}
.Discover_text h6 {
  font-weight: 600;
}
.prise {
  font-size: 14px;
}
/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}

.srevice {
  background: #f2f6f9;
  padding: 100px 0px 100px 0px;
  position: relative;
}
.service_overlay {
  background-image: url(../images/service.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.02;
  transition-behavior: normal, normal, normal;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.Quality {
  font-size: 30px;
}
.Fabric_icon {
  height: 45px;
  width: 55px;
}
.Fabric_icon img {
  width: 100%;
  height: 100%;
}
.feb_wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(330px, 1fr)
  ); /* Automatically wraps with min 150px and max 1fr */
  gap: 20px; /* Space between grid items */
}

.Fabric_card {
  text-align: left;
  background-color: #ffffff !important;
  padding: 50px 40px 50px 40px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #dddddd;
  border-radius: 0px 0px 0px 0px;
  opacity: 1 !important;
  position: relative; /* Ensures it's above the overlay */
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.feb_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: #0b2a42;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.Fabric_text {
  transition: 0.5s ease-in-out;
}
.Fabric_card.active {
  background: #0b2a42 !important; /* Blue background for active card */
  position: relative;
  color: #ffffff;
}
.Fabric_card:hover .feb_overlay {
  height: 100%;
}
.Fabric_card:hover .Fabric_text {
  color: #ffffff;
}
.Fabric_text h2 {
  font-size: 22px;
}
.Fabric_text a {
  color: #fc524c;
}

.Quality_bg {
  /* background-color: #002c426c; */
  padding: 9rem 0;
  position: relative;
}
.banner_bg {
  padding: 3rem 0;
  position: relative;
  background: #6a8bc0;
}
.indiamart_logo {
  height: 80px;
  width: 400px;
}
.indiamart_logo img {
  height: 100%;
  width: 100%;
}
.Quality-overlay {
  background-image: linear-gradient(rgba(237, 236, 236, 0.596), rgba(237, 236, 236, 0.514)),
    url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition-behavior: normal, normal, normal;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.Quality_text h3 {
  margin-bottom: 10px;
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  color: #0a0964;
  position: relative;
}
.GLOBAL {
  position: relative;
  display: inline-block;
  color: #1271ff;
  padding-bottom: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3px;
}
.GLOBAL::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom: 2px solid #1271ff;
}

.customer {
  height: 350px;
  max-width: 260px;
  width: 100%;
  background: rgba(224, 219, 219, 0.112);
  position: relative;
  padding: 20px;
  cursor: pointer;
}
.customer img {
  height: 100%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.modal img {
  max-width: 90%;
  max-height: 90%;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
/* .qoverlay {
  top: -17.5px;
  left: -20px;
  position: absolute;
  height: 285px;
  width: 300px;
  border: 1px solid rgba(236, 234, 234, 0.308);
} */
.text_happy p {
  color: #ffffff;
}

.contact_bg {
  background-color: #f2f7fa;
  padding: 2.5rem 0;
  position: relative;
}

.con_bg {
  background-image: url(../images/contact_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.09;
  transition-behavior: normal, normal, normal;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.Exclusive_bg {
  background-image: url(../images/Pattern_img.png);
  opacity: 0.09;
}
.contact_wrapper {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 35px 24px;
  z-index: 2;
}
.add {
  background: #02173b1e;
}
.contact_loc {
  height: 80px;
  width: 80px;
  border: 1px solid #1271ff;
  border-radius: 50%;
  line-height: 80px !important;
  text-align: center;
  font-size: 40px;
  color: #1271ff;
}
.Greatex {
  color: #02173b;
}
.experience {
  background: #ffffff;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px;
  position: relative;
}
.experience p {
  color: rgb(158, 152, 152);
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 22px;
}
.number {
  position: absolute;
  right: 20px;
  bottom: 12px;
  height: 48.6px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  border: 1px solid #fc524c;
  border-radius: 50%;
  color: #fc524c;
  opacity: 0.3;
  z-index: 1;
}
.experience:hover .number {
  opacity: 0.9;
}
.Treatment {
  background: #ffffff;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px;
  position: relative;
  z-index: 2;
}
.Treatment .one {
  height: 40px;
  width: 40px;
  background: #fc524c;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
.First p {
  font-size: 18px;
  text-transform: uppercase;
  color: #fc524c;
}
.First h6 {
  font-size: 23px;
}
.avatar-sm {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
}
.avatar-sm img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.swiper-pagination-bullet-active {
  background: #ffffff !important;
}
.send_mail {
  background: #fc524c;
  padding: 5px 15px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}
.send_mail i {
  font-size: 14px;
}
.send_mail span {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}
.hidden {
  display: none;
}
.share {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
  padding: 10px;
  width: 136px;
  position: absolute;
  top: 44px;
  right: 0;
  border-radius: 10px;
  display: block;
  padding: 10px 15px;
}
.share_list {
  padding: 0;
  margin: 0;
}
.share_list li {
  margin-bottom: 10px;
}
.share_list i,
.share_list a {
  font-size: 15px;
  font-weight: 600;
}
.share_list li a .what,
.share_list li a .fa-whatsapp {
  color: green;
}

.client {
  padding: 6rem 0;
}
.saleswoman {
  height: 670px;
  position: relative;
  width: 100%;
  opacity: 0.9;
}
.saleswoman img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.crop {
  height: 270px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  bottom: -40px;
  left: -30px;
}
.crop img {
  height: 100%;
  width: 100%;
}
.elementor-widget-container h6 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #1271ff;
}
.elementor-widget-container .elementor {
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1.3px;
}
.elementor-widget-container p {
  color: gray;
}
.Vision_card {
  background: #e0e4e94b;

  border-radius: 4px;
}
.elementor-icon-list-items {
  padding: 0;
  margin: 0;
}
.elementor-icon-list-items .elementor-icon-list-item {
  margin-bottom: 12px;
  display: flex;
  color: rgb(72, 61, 61);
}

.elementor-heading-title {
  font-size: 18px;
  text-transform: uppercase;
}
.elementor-icon-list-icon i {
  color: #1271ff;
  margin-right: 10px;
}
.summary_card {
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(18, 15, 15, 0.256);
  max-height: 300px;
  height: 100%;
}
.summary_card h5 {
  text-transform: capitalize;
  font-size: 17px;
  text-transform: uppercase;
}
.summary_card p {
  color: #4c5052;
  font-size: 14px;
}
/* Keyframes for infinite scrolling effect */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.main_image {
  height: 360px;
  width: 100%;
}
.main_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about_list li {
  font-size: 21px;
  font-weight: 600;
}
.about_img {
  height: 60px;
  min-width: 60px;
}
.about_img img {
  height: 100%;
  width: 100%;
}
.icon-content h5 {
  font-weight: 600;
}
.whatApp {
  position: fixed;
  bottom: 20%;
  right: 8px;
  z-index: 99;
  background: green;
  padding: 7.4px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.whatApp:focus,
.whatApp:hover {
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.whatApp a {
  color: #fff;
}
.whatApp span i {
  font-size: 30px;
  font-weight: 700;
}
@keyframes myAnimation {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.app {
  position: fixed;
  bottom: 50%;
  right: -76px;
  z-index: 99;
  transform: rotateZ(90deg);
  width: 200px;
}
.app button {
  width: 100%;
  padding: 10px;
  border: 1px solid #1271ff;
  border-radius: 20px 0 20px 0;
  color: #1271ff;
}

.card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}
.card:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.244);
}
.card-image-container {
  position: relative;
  height: 250px;
  width: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}
.card:hover .card-name{
  color: #1271ff;
}
.card-name {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
}

@media only screen and (max-width: 1080px) {
  nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    width: 70%;
    height: 100vh;
    background: #02173b;
    padding: 15px 20px;
    transition: 0.6s ease-in-out;
    z-index: 99;
    overflow-y: scroll;
  }

  .menu_wrapper .active {
    display: flex !important;
  }
  .submenu_inn ul {
    border-top: initial;
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 0 !important;
  }
  .sub_menu_heading {
    display: none !important;
  }

  .submenu_wrapper {
    position: initial;
    top: 56px;
    left: -5px;
    height: inherit;
    width: initial;
    z-index: 99;
    transform: initial;
    transition: 0.4s ease-in;
    opacity: initial;
    visibility: initial;
    flex-direction: column;
    display: none;
    background: initial;
  }
  .Shoe{
    width: 100% !important; 
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  nav ul li:nth-child(4) {
    order: -1;
  }
  nav ul li:nth-child(4) .logo {
    height: 38px;
    width: 200px;
  }
  .mobile {
    left: 0;
  }
  .for_pc_none {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  .for_padding {
    padding: 0px 0;
  }
  .submenu_wrapper ul li a {
    color: var(--text);
    transition: 0.4s ease-in-out;
  }
  /* .submenu_wrapper ul li:hover {
    transform: translateX(8px);
  } */
  .submenu_wrapper ul li:hover a {
    color: var(--red);
  }
  .sub_menu_heading {
    color: var(--red);
  }
}
@media only screen and (max-width: 998px) {
  .blog_text p:nth-child(1) {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
  }

  .blog_text h4 {
    font-size: 2.4rem;
  }
  .heading {
    font-size: 23px;
  }
  .Quality_bg {
    padding: 4rem 0;
  }
  .Quality_text h3 {
    font-size: 39px;
    line-height: 55px;
  }
  .Trusted_bg_fix{
    padding: 3rem 0;
  }
  .indiamart_logo {
    height: 70px;
    width: 300px;
}
}
@media only screen and (max-width: 558px) {
  .text_wrapper {
    display: flex;
    flex-direction: column;
  }
  .Trusted_bg {
    padding: 2rem 0;
  }
  .remove{
    display: none;
  }
  .remove_af::after{
    display: none;
  }
  .remove_af::before{
    display: none;
  }
  .Quality_text h3 {
    font-size: 30px;
    line-height: 41px;
}
.saleswoman {
  height: 400px;
}
.crop {
  height: 215px;
  width: 248px;
}
}


.card_wrapper {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
  transition: 0.4s ease-in-out;
  z-index: 1;
  height: auto;
}
.card_wrapper:hover {
  transform: translateY(-10px);
}
.aibrain{
  width: 100%;
  height: 200px;
  
}
.aibrain img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.card_text h6 {
  font-size: 15px;
  color: #20182f;
}



.hero-section {
  overflow: hidden;
}

.left-panel {
  background-color: #5680be;
  color: white;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.left-panel p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.portfolio-btn {
  background-color: #f5b642;
  border: none;
  color: #333;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: fit-content;
}

.portfolio-btn:hover {
  background-color: #e6a832;
  transform: translateY(-2px);
}

.image-container {
  padding: 0;
 height:320px;
 position: relative;
}

 .commercial{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  background: rgba(51, 51, 51, 0.705);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  opacity: 0.7;
 }
 .image-container:hover .commercial{
  opacity: 1;
  background: rgba(51, 51, 51, 0.785);
 }
.commercial h5{
  color: #ffffff;
  font-size: 22px;
}
.image-container img{
  height: 100%;
  width: 100%;
}
.image_btn{
  height: 87px;
  width: 280px;
}
.image_btn img{
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .left-panel {
      padding: 40px 20px;
  }
  
  .left-panel h1 {
      font-size: 2.2rem;
  }
}